<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

        <style>
            .body {
                margin-right: 33%;
                margin-left: 3%;
            }

            .header-image {
                width: 20%;
                height: auto;
            }

            .footer {
                margin-top: 10%;
                color: grey;
            }
        </style>
    </head>

    <body>
        <%= @body.html_safe %>
    </body>
</html>
